* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}

/* Page Selections */

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}
.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

nav {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  float: right;
}

nav a:link {
  margin: 10px 30px;
  display: inline-block;
  text-decoration: none;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  width: 500px;
}

/* Combining Selectors */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  float: left;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:first-child {
  font-weight: bold;
  /* color: #ff0000; */
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

article p:first-child {
  color: #1098ad;
}

/* Unvisited links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #1098ad;
}
/* mouse over link */
a:hover {
  color: red;
}
/* selected link */
a:active {
  color: black;
}
/* Descendant selector
This will select p elements inside of footer elements */

/* footer p {
  font-size: 16px;
} */

/* We use # for selecting ID */

#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}

/* We use . for selecting Class */

.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}

.post-image {
  width: 100%;
  height: auto;
}

.like-button {
  font-size: 22px;
  font-family: sans-serif;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  /* bottom: 50px;
  right: 0; */
  bottom: 50px;
  right: 50px;
}

/* Pseudo-elements */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* h3 + p::first-line {
  color: red;
} */

h2::after {
  content: "Top";
  color: #000;
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* FLOATS */

.author-image {
  float: left;
  margin-bottom: 20px;
}

.author {
  /* padding-left: 80px; */
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
